$lightTheme: #f7f7f7;

$primaryColor: #1976d2;
$secondaryColor: #9c27b0;
$dangerColor: #d32f2f;
$warningColor: #ed6c02;
$successColor: #2e7d32;
$darkColor: #292929;
$lightColor: #ffffff;
$grayColor: #9e9e9e;

$borderRadius: 10px;
$titleFont: 32px;
$baseMarginContainer: 50px;